{% extends 'base.html' %}

{% block title %}Blog-Edit Post{% endblock %}

{% block content %}

<h1 class="edit-post-form-title" >Edit Post</h1>
<form class="edit-post-form-container" method="POST">
  <p>
    <label class="edit-post-form-label" for="title">Title </label>
    <input class="edit-post-form-input" type="text" name="title" id="title" value="{{ post.title }}">
  </p>
  <p>
    <label class="edit-post-form-label" for="post_content">Post Content </label>
    <textarea class="edit-post-form-input" name="post_content" id="post_content" cols="30" rows="3">{{ post.content }}</textarea>
  </p>


  {% for tag in tags %}
    <div>
        <input class="edit-post-form-input" type="checkbox" name="tags" id="{{ tag.name }}" value="{{ tag.name }}" {% if tag.name in selected %}checked{% endif %}>
      <label class="edit-post-form-label" for="{{ tag.name }}">{{ tag.name }}</label>
    </div>
  {% endfor %}

  <br>

  <button class="edit-post-form-button btn btn-primary" >Edit</button>
  <button class="edit-post-form-button btn btn-light" formaction="/posts/{{ post.id }}" formmethod="get">Cancel</button>
</form>
{% endblock %}