{% extends 'base.html' %}

{% block title %}Blog-{{ tag.name }}{% endblock %}

{% block content %}
<h1 class="tag-title">{{ tag.name }} tag</h1>

<div>
  {% for post in tag.posts %}
    <div>
      <a class="tag-posts" href="/posts/{{ post.id }}">{{ post.title }}</a>
    </div>
  {% endfor %}
</div>

<form action="/tags/{{ tag.id }}/delete" method="POST">
  <button class="tag-button btn btn-primary" formaction="/tags/{{ tag.id }}/edit" formmethod="get">EDIT</button>
  <button class= "tag-button btn btn-danger">DELETE</button>
</form>

{% endblock %}