{% extends 'base.html' %}

{% block title %}Blog-User List{% endblock %}

{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<img class="user-img" src="{{ user.image_url }}" alt="{{ user.first_name }}">

<a class="user-button btn btn-primary" href="/users/{{ user.id }}/edit">EDIT</a>

<form class="user-button" action="/users/{{ user.id }}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>

<form class="user-button">
  <button class="btn btn-primary" formmethod="get" formaction="/users/{{ user.id }}/posts/new">Add Post</button>
</form>

<div id="post-list">
  <h3 class="user-posts-title">{{ user.first_name }}'s Posts</h3>
  {% for post in user.posts %}
  <div><a class="user-posts" href="/posts/{{ post.id }}">{{ post.title }}</a></div>
  {% endfor %}
</div>

{% endblock %}