{% extends 'base.html' %}

{% block title %}Blog-User List{% endblock %}
{% block style %} <link rel="stylesheet" href="/static/users.css">{% endblock %}
{% block content %}
<h1 class="users-list-title">User List</h1>
<a class="add-users-button btn btn-primary" href="/users/new">Add User</a>
<div id="users-list-id">
  {% for user in users %}
    <div>
      <a class="users-link" href="/users/{{ user.id }}">
        <img class="users-img" src="{{user.image_url}}" alt="{{ user.first_name }}">
        {{ user.first_name }} {{ user.last_name }}
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}

